@import url(../fonts/Next-art/stylesheet.css);

:root {
    --red: #ef032e;
    --black: #0f0f16;
}

html {
    font-size: 20px;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    padding: 140px 0 80px;
    font-family: "NEXT ART", sans-serif;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

p {
    font-size: 1.25rem;
}

.container {
    width: 1000px;
    max-width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.button {
    background-color: var(--red);
    padding: 8.5px 20px;
    border-radius: 13px;

    font-size: 1rem;
    font-weight: 700;
    color: #fff;

    text-transform: uppercase;
}

.button.disable {
    background-color: rgba(239, 3, 46, 0.4);
}

.button-sm {
    padding: 10px 15px;
}

.button-lg {
    padding: 28px 86px;
    border-radius: 20px;

    font-size: 1.5rem;
}

.button-xl {
    padding: 28px 115px;
    border-radius: 20px;
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 100px 0 80px;
    }
    h1 {
        font-size: 65px;
    }
    .container {
        width: 830px;
        max-width: 85%;
    }
}
@media screen and (max-width: 850px) {
    body {
        padding: 90px 0 80px;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 25px;
    }
    .container {
        max-width: 80%;
    }

    .button-lg {
        padding: 16px 40px;
        border-radius: 15px;

        font-size: 1rem;
    }

    .button-xl {
        padding: 31px 37.5px;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 650px) {
    body {
        padding: 50px 0 40px;
    }
    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 16px;
    }

    .container {
        max-width: 90%;
    }
    .button-lg {
        padding: 16px 37.5px;
    }

    .button-xl {
        padding: 28.5px 30.5px;
        font-size: 1rem;
    }
}
